*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#0f172a;
}

header h1{
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}

nav a:hover{
    color:#38bdf8;
}

/* Hero */

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:linear-gradient(
    135deg,
    #0f172a,
    #38bdf8
    );

    color:white;
}

.hero h2{
    font-size:48px;
    margin-bottom:10px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    background:white;
    color:#0f172a;
    text-decoration:none;
    padding:12px 30px;
    border-radius:8px;
    font-weight:600;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}

/* About */

.about{
    padding:80px 15%;
    text-align:center;
    background:#f8fafc;
}

.about h2{
    font-size:40px;
    margin-bottom:25px;
}

.about p{
    font-size:18px;
    line-height:1.8;
    color:#444;
}

/* Projects */

.projects{
    padding:80px 10%;
    text-align:center;
}

.projects h2{
    font-size:40px;
    margin-bottom:50px;
}

.project-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.project-card{
    width:300px;
    padding:25px;
    background:#f8fafc;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-10px);
}

.project-card h3{
    margin-bottom:15px;
}

/* Contact */

.contact{
    padding:80px 10%;
    text-align:center;
    background:#e2e8f0;
}

.contact h2{
    margin-bottom:25px;
    font-size:40px;
}

.contact p{
    margin:10px 0;
    font-size:18px;
}

/* Footer */

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}

/* Responsive */

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:15px;
    }

    nav{
        display:flex;
        gap:15px;
    }

    .hero h2{
        font-size:32px;
    }

    .hero p{
        font-size:16px;
    }

    .about,
    .projects,
    .contact{
        padding:60px 8%;
    }

    .project-card{
        width:100%;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero,
.about,
.projects,
.contact {
    animation: fadeIn 1s ease-in-out;
}